.animTitle{
    width: 100vw;
    height : 30vh;
    background-color: #FF7777;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
justify-content : center => 자식(아이템) 젇렬의 시작점, center의 value를 가지고 있으므로 가운데에서 부터 정렬을 시작한다.
align-items : center => 각 자식들의 정렬의 수직축에 대한 정렬. 
*/

.animTitle span{
    position: relative;
    top : 3vh;
    display: inline-block;
    animation: animBounce .3s ease infinite alternate;
    font-family: 'Titan one', cursive;
    font-size : 5rem;
    color: #FFF;
    text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .4);  
}

/*
position : relative => 현재 위치가 아닌 상대적인 위치로 배치 ( 자신을 기준으로 ) top, bottom, left right 속성으로 위치를 이동시킬 수 있음.
display : inline => 요소들에 대한 줄 바꿈없이 다른 요소들과 나란히 배치되며, width, height는 요소들에대한 크기로 결정지어짐.
          block => <div>, <p> 태그 처럼 전 후 줄바꿈이 들어간다. width, height, margin, padding의 속성이 있음. 
          inline-block => inline과 block을 합친 속성. inline 처럼 작동하지만 width, height, margin, padding등 block의 속성들을 사용할 수 있다.
animation : animation <name> <duration> <time-function> <iteration-count> <direction> 
text-shadow : <offset-x> <offset-y> <blur-radius> <color> offset x,y를 이용하여 그림자의 위치, 블러는 흐림효과, color는 그림자의 색깔, 쉼표로 다중그림자를 표현할 수 있음.
*/

.animTitle span:nth-child(2) {animation-delay: .1s;}
.animTitle span:nth-child(3) {animation-delay: .2s;}
.animTitle span:nth-child(4) {animation-delay: .3s;}
.animTitle span:nth-child(5) {animation-delay: .4s;}
.animTitle span:nth-child(6) {animation-delay: .5s;}
.animTitle span:nth-child(7) {animation-delay: .6s;}

@keyframes animBounce{
    100%{
        top: -3vh;
        text-shadow: 0 1px 0 #CCC,
                     0 2px 0 #CCC,
                     0 3px 0 #CCC,
                     0 4px 0 #CCC,
                     0 5px 0 #CCC,
                     0 6px 0 #CCC,
                     0 7px 0 #CCC,
                     0 8px 0 #CCC,
                     0 9px 0 #CCC,
                     0 50px 25px rgba(0, 0, 0, 2);
    }
}
